@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255; /* white */
    --foreground: 17 24 39; /* gray-900 */
  }

  .dark {
    --background: 0 0 0; /* black */
    --foreground: 255 255 255; /* white */
  }

  html, body {
    @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))] transition-colors duration-300;
  }

  header {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}